@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --mainColor: #000;
  --primaryColor: #fff;
  --borderColor: rgba(203, 203, 203, 0.7);
  --gray: #F2F2F2;
  --dividerColor: 0.3px solid rgba(203, 203, 203, 0.23);
  --productBannerBoxColor: #F4F4F4;
  --productBorderColor: #C0C0C0;
  --productBorderColor: #cbcbcb;
}

.light {
    --mainColor: #000;
    --primaryColor: #fff;
    --borderColor: rgba(203, 203, 203, 0.7);
    --gray: #f2f2f2;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--primarycolor);
}

button {
  appearance: none;
  outline: none;
  border: none;
}

a {
  text-decoration: none;
  color: var(--mainColor);
}

span {
  font-size: 15px;
}

.container {
 
}



nav {
  padding: 30px 0 10px 0;
}

footer {
  background-color: var(--mainColor);
  color: var(--primaryColor);
  padding: 50px 0;
  margin-top: 100px;

}

.color-primary {
  color: var(--primaryColor) !important;
}

.divider-primary {
  border-color: var(--primaryColor) !important;
  opacity: 0.2 !important;
}
.flex-wrap {
  flex-wrap: wrap;
}

.gap-5 {
  gap: 5px;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-20 {
  gap: 20px;
}

.gap-40 {
  gap:40px;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}
.text-center {
  text-align: center;
}


.banner-slider {
  aspect-ratio: 3/1;
}



.btn-primary {
  height: 100%;
  border-radius: 5px;
  transition: 0.1s ease-in-out;
  background-color: var(--mainColor);
  color: #fff;
  padding: 5px 15px;
  cursor: pointer;
  border: 0.1rem solid var(--mainColor);
  min-height: 40px;

  &:hover {
    background: transparent;
    color: var(--mainColor);
  }
  svg {
    display: block;
  }

}

.swiper-container{
  height: 100%; 
  max-height: 100vw;
  // CSS Grid/Flexbox bug size workaround
  // @see https://github.com/kenwheeler/slick/issues/982
  min-height: 0;
  min-width: 0;
  max-width: 100vw; 
  width: 100%;
  overflow: hidden;
}
 
.swiper-slide{
  width: auto;
  flex-shrink: 0;
  display: block;
  height: 100%;
  max-height: 100%;
}

.swiper-slide.product-card {
  width: 100px;
}

.swiper-wrapper{
  max-height: 100%;
  height: 100%;
  display: flex;
}

.nav-links-container {
  flex-shrink: 0;
  width: 100%;
  margin: 0 auto;
  justify-content: center !important;
  padding-bottom: 15px;
  overflow-x: auto;
 
@media (max-width: 500px) {
  justify-content: flex-start !important;
}
}

 .nav-links {
  text-transform: uppercase;
  transition: 0.1s ease-in-out;
  padding: 0 15px;
  &:hover {
    text-decoration: underline;
  }
}

.slide-item {
  width: 100% !important;
  height: 50vh !important;
  img {
    width: 100% !important;
    object-fit: cover;
    height: auto;
  }
}

.swiper-button-next,.swiper-button-prev {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: var(--primaryColor);
  &:after {
    font-size: 20px;
    color: var(--mainColor)
  }
}

.footer-links {
  @media (max-width: 1000px) {
    flex-direction: column !important;
    gap: 30px;
    justify-content: center; 
    h1 {
        text-align: center !important;
      }
    & > div {
      text-align: center;
      justify-content: center !important;
     
    }
  }
  
}

.subscribe-button {
  @media (max-width: 1000px) {
  flex-wrap: wrap;
  padding: 5px !important;
  button {
    width: 100%;
    padding: 10px 0 !important;
  } input {
    font-size: 1.2rem !important;
    text-align: center !important;
  }
  }
}


.last-added-items,.popular-items {
  padding-top: 50px;
  & > div:nth-child(1) {
    gap: 30px;
  }

}

.slider-buttons {
  button {
    border-radius: 5px;
    border: 2px solid var(--mainColor);
    display: flex;
    cursor:pointer;
    align-items: center;
    justify-content: center;
   background-color: transparent !important;

  }
}

.product-card {
display:flex;
flex-direction: column;
align-items:center;
justify-content:flex-start;
width: 100%;
padding: 15px 0;
height: 570px;
border: 1px solid var(--productBorderColor);
border-radius:10px;
transition: 0.1s ease-in-out;
.divider-primary {
  transition: 0.1s ease-in-out;
  border-color: var(--productBorderColo) !important;
}
 .product-name {
   font-size: 2rem !important;
   margin-bottom:10px;
   font-weight: 400 !important;
   cursor: pointer;
   &:hover {
     text-decoration: underline;
   }
 }

.image {
  display:flex;
  align-items:center;
  justify-content:center;
  width: 70%;
  height:300px;
  cursor:pointer;
  img {

    width: clamp(100px,100%,300px);
    object-fit: cover;
  }

 }

 .details {
  width:90%;
  display:flex;
  gap: 7px;
  align-items:center;
  justify-content:center;
  flex-direction:column;
   span {
     font-size: 2.5rem;
     font-weight: 600;
   }
   button {
    display:flex;
    align-items:center;
    justify-content:center;
     width: 100%;
     border-radius:10px;
     background-color:var(--mainColor);
     padding: 5px 30px;
     border: 2px solid var(--mainColor);
     color: white;
     cursor:pointer;
     transition: 0.1s ease-in-out;
     &:hover {
       background-color:transparent;
       color: var(--mainColor);
     }
   }
 }
 &:hover {
   border: 1px solid var(--mainColor);
   .divider-primary {
    border-color: var(--mainColor) !important;
    opacity: 0.5 !important;
  }
 }
 @media (min-width: 1000px) {
   height: 500px;
    .details {
      height: 80px;
      button {display: none;
        padding: 10px 30px;
      }
      .divider-primary {
        display: none;
      }
    }
    &:hover {
      .details {
        span {display:none; }
        button {display:flex}
      }
    }
 }
}

.swiper-c {
  padding: 10px 20px;
}


.slider-header {
  @media (max-width:700px) {
    flex-direction: column !important;
    .slider-buttons {
      width: 100%;
      button {
      width: 50% !important;
    }
    }
    
  }
}

.product-name {
  white-space: nowrap; 
  width: 90%;
  white-space: nowrap; 
  width: 300px; 
  overflow: hidden;
  text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.details {
  width: 70% !important;
}


